<!--The sign -->
<div data-ftc-component="ftc-header-sign">
  <div class="ftc-header__sign-readermenu ftc-header__sign-visitormenu">
    <a class="ftc-header__sign-signin" href={{header.signIn.url}}>
      {{header.signIn.word}}
    </a>
    <a href={{header.signUp.url}}>
      {{header.signUp.word}}
    </a>
  </div>
  <div class="ftc-header__sign-readermenu ftc-header__sign-memebermenu ftc-header__sign--hide">
    <a href={{header.myFT.url}}>
      {{header.myFT.word}}
    </a>
    <a href={{header.mySet.url}}>
      {{header.mySet.word}}
    </a>
    <a href={{header.signOut.url}}>
      {{header.signOut.word}}
    </a>
  </div>
</div>